@model WebShop.Web.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "";
}
<table>
    <thead>
    <tr>
        <td>Article</td>
        <td>Quantity</td>
        <td>Price</td>
    </tr>
    </thead>
    @foreach (var article in Model.Items.Select(a => a.Value))
    {
        <tr>
            <td>@article.Article.Name</td>
            <td>@article.Quantity</td>
            <td>@article.Article.FormattedPrice</td>
        </tr>
    }
</table>
