@using WebShop.Web.Resources
@model HandleErrorInfo

@{
    ViewBag.Title = ConstantText.Error;
}

<h1 class="text-danger">@ConstantText.Error</h1>
<h2 class="text-danger">@ConstantText.GenericErrorMessage.</h2>

